body {
    background: #E5E5E5;
}

body {
    margin: 0;
    padding: 0;
}
.Top {
    background: linear-gradient(135deg, #13aeab 0%, #117e96 75%);
    height: 35px;
}

a {
    color: #117E96;
    text-decoration: none;
}

a:-webkit-any-link {
    cursor: pointer;
}
