body {
    background: #E5E5E5;
}

body {
    margin: 0;
    padding: 0;
}
.Top {
    background: linear-gradient(135deg, #13aeab 0%, #117e96 75%);
    height: 35px;
}

a {
    color: #117E96;
    text-decoration: none;
}

a:-webkit-any-link, #eye {
    cursor: pointer;
}

.Login {
    flex-wrap: wrap;
}

#head {
    display: flex;
    margin-bottom: 12px;
    justify-content: center;
}

.Bottom {
    margin: auto 0 0 0;
    justify-content: center;
    height: 80px;
    border-top: 1px solid #999999;
    text-align: center;
    font-size: 12px;
}